@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');

/* Root Styles */
:root {
--bg-color:#ffffff;
--default-text-color:#010417;
--secondary-color:#ff0000;
}
@media (prefers-color-scheme: dark) {
:root {
--bg-color:#010417;
--default-text-color:#ffffff;
--secondary-color:#ff0000;
}
}
a:link {
text-decoration:none
}

a:visited {
text-decoration:none
}

a:hover {
text-decoration:none
}

a:active {
text-decoration:none
}
a {
text-decoration:none;
color: var(--default-text-color);
}
/* Root Styles End */

body {
background-color:var(--bg-color);
color:var(--default-text-color);
font-family: Rubik;
font-weight: 400;
width:100%;
position:static!important;
top:0!important;
margin:0;
-webkit-touch-callout:none;
-webkit-user-select:none;
-khtml-user-select:none;
-moz-user-select:none;
-ms-user-select:none;
user-select:none;
}
.loading {
position:fixed;
height:100vh;
width:100%;
display:flex;
align-items:center;
justify-content:center;
background:var(--bg-color);
transition:all .5s;
z-index:99;
cursor:progress;
overflow:hidden;
z-index: 100;
}

.loader {
  width: 40px;
  height: 40px;
  display: flex;
  z-index: 101;
}

.loader:before,
.loader:after {
  content:" ";
  flex:1;
  background: var(--default-text-color);;
  animation: sp1 2s infinite;
  border-radius: 100px 0 0 100px;
  transform-origin: top right;
  transform: translateY(calc(var(--s,1)*0%)) rotate(0);
  border: none;
  outline: none
}
.loader:after {
  transform-origin: bottom left;
  border-radius: 0 100px 100px 0;
  --s:-1;
}

@keyframes sp1 {
  33%  {transform: translate(0,calc(var(--s,1)*50%)) rotate(0)}
  66%  {transform: translate(0,calc(var(--s,1)*50%)) rotate(-90deg)}
  90%,
  100% {transform: translate(calc(var(--s,1)*-100%),calc(var(--s,1)*50%))  rotate(-90deg)}
}
#loader-error {
position: absolute;
bottom: 0px;
font-family: 'Archivo Black', sans-serif;
}
.loader {
font-size: 20px;
}
#search-ctr {
}
#search-img {
position: absolute;
top: 0; right: 0; bottom: 0; left: 0;
/* background-image: url("//34r53gty3u4ngtf3yufgt.race-life.net/assets/img/search/2.jpg"); */
background-color:var(--bg-color);
width: 100%;
height: auto;
margin: 0;
background-repeat: no-repeat;
background-attachment: fixed;
background-size: cover;
background-position: center center;
/* filter: brightness(70%); */
z-index: 1;
}
#search-bar {
z-index: 99;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 35%;
}
input[type=search] {
  color: var(--default-text-color);
  border: 1px solid var(--default-text-color);
  outline: none;
  background-color: rgba(255, 255, 255, .0);
  width: 90%;
  padding: 15px 20px;
  margin: 8px 0;
  display: inline-block;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  box-sizing: border-box;
z-index: 5;
}
.search-bar-button {
background-color: rgba(255, 255, 255, .0);
color: var(--default-text-color);
border: 1px solid var(--default-text-color);
outline: none;
z-index: 7;
padding: 15px;
border-top-right-radius: 25px;
border-bottom-right-radius: 25px;
margin-left: 5px;
}