@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;700&family=Fredoka+One&family=Gochi+Hand&display=swap');

input[type="text"] {
  font-size: 17px;
  color: #000;
  border:0;
  outline:0;
  border-radius: 12px;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
  width: 50%;
  z-index: 2;
  outline:none;
  font-family: 'Comfortaa', cursive;

}

input[type="submit"] {
  padding-top: 6px;
  padding-bottom: 6px;
  padding-right: 6px;
    padding-left: 6px;
color: #000000;
 margin: 0;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%); 
  border-radius: 5px;
  background-color: #fff;
  border:0;
  outline:0;
    font-size: 15px;
  font-family: 'Comfortaa', cursive;


}
input[type=text]:focus {
outline:none;
}

#img {
     position:fixed; 
    left: 0px; 
    top: 0px; background-size:100%;  
     width:100%; height:100%; 
     -webkit-user-select: none; -khtml-user-select: none; 
     -moz-user-select: none; -o-user-select: none; user-select: none; 
  background-size:cover;
    z-index: -1;

}
.searchctr {
    text-align: center;
}
.fa-chevron-down {
font-size: 24px;
color: #fff;
z-index: 2; 
position: absolute;
  bottom: 10px;
}
.searchctr h3 {
  font-size: 33px;
font-family: 'Gochi Hand', cursive;
color: #ffffff;
z-index: 999;
margin: 0;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
  width: 50%;
}
.down {
  text-align: center;
}
.random-fact-ctr {
background-color: #00d5ff;
display: fixed;
width: auto;
}
.random-fact-ctr name {
font-family: 'Comfortaa', cursive;
color: #fff;
font-weight: 700;
}
.search-section {

}